<% title("#{@movie.title} (#{@movie.released_on})") %>

<article id="movie" class="movie">
  <header>
    <%= image_for(@movie) %>
    <h1><%= @movie.title %></h1>
    <h2>Released: <%= @movie.released_on %></h2>
  </header>

  <p>
    <%= @movie.description %>
  </p>
  
  <p>
    <%= pluralize(@fans.size, 'fan') %>
  </p>
  <% if current_user %>
   <% if @current_favorite %>
     <%= button_to "Unfave", movie_favorite_path(@movie, @current_favorite), 
         method: :delete, class: "button unfave" %>
   <% else %>
     <%= button_to "Fave", movie_favorites_path(@movie), class: "button fave" %>
   <% end %>
  <% end %>
  
  <h3 class="no-rule">
    <%= @movie.rating %> &bull; <%= @movie.duration %> 
  </h3>
  
  <h3>Cast</h3>
  <p>
    <%= @movie.cast %>
  </p>
  
  <h3>Director</h3>
  <p>
    <%= @movie.director %>
  </p>
  
  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>
  
  <h3>Average Review</h3>
  <p>
    <%= format_average_stars(@movie) %>
  </p>
  
  <% if @movie.recent_reviews.any? %>
    <h3>Recent Reviews</h3>
    <ol id="reviews">
      <% @movie.recent_reviews.each do |review| %>
        <li><%= review.comment %></li>
      <% end %>
    </ol>
    <p>
      Read all <%= link_to pluralize(@movie.reviews.size, "review"),
                   movie_reviews_path(@movie) %>
    </p>
  <% end %>
  
  <% content_for :side do %>
    
    <%= render 'movie_sidebar_extras' %>
    
  <% end %>
 
  <footer>
    <nav>
      <% if current_user_admin? %>
        <%= link_to 'Edit', edit_movie_path(@movie), class: 'button' %>
        <%= link_to 'Delete', @movie, 
                    class: 'button',
                    method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>          
      <%= link_to pluralize(@movie.reviews.size, 'review'), 
                  movie_reviews_path(@movie), class: 'button' %>
      <%= link_to 'Write a review', new_movie_review_path(@movie), class: 'button ok review' %>
    </nav>
  </footer>
</article>
