<% title(@user.name) %>

<article id="user">
  <header>
    <h1><%= @user.name %></h1>
    <h2><%= mail_to(@user.email) %></h2>
    <h3>
    <p>
    <%= @user.created_at.strftime("%B""%Y") %>
    </p>
    </h3>
    
    <% if @reviews.any? %>
      <h3> Reivews </h3>
      <ol id="reviews">
      <% @review.each do |review| %>
        <li>
          <span class="review"><%= pluralize(review.stars, 'star') %></span> 
          <span class="name">Created <%= time_ago_in_words(review.created_at) %> 
          ago</span>
          <p>
            &quot;<%= review.comment %>&quot;
          </p>
        </li>
      <% end %>
      </ol>
    <% end %>
  </header>
  <footer>
    <nav>
      <% if current_user?(@user) %>
        <%= link_to "Edit Account", edit_user_path(@user), class: "button" %>
      <% end %>
      <% if current_user_admin? %>
        <%= link_to 'Delete Account', @user, 
                    class: 'button',
                    method: :delete, data: { confirm: 'Are you sure you want to  
                    permanently delete your account?' } %>
      <% end %>
    </nav>
  </footer>
</article>

    
<% content_for :side do %>
  <% if @favorite_movies.any? %>
    <ul>
      <h3>Favorite Movies</h3>
      <li>
      <% @favorite_movies.each do |movie| %>
        <%= link_to movie.title, movie %>
      <% end %>
      </li>
    </ul>
  <% end %>
<% end %>