<%= form_for([@movie, @review]) do |f| %>
  <%= render 'shared/errors', object: @review %>
  <fieldset>
    <ol>
      
      <li class="required stars">
        <%= f.label :stars %>
        <% Review::STARS.each do |star| %>
          <span class="star">
            <%= f.radio_button :stars, star %> <%= star %>
          </span>
        <% end %>
      </li>
      <li class="required">
        <%= f.label :comment %>
        <%= f.text_field :comment, cols:80, placeholder: "What do you think?" %>
      </li>
    </ol>
    <p>
      <%= f.submit "Post Review" %>
      <%= link_to "Cancel", @movie, class: 'button' %>
    </p>
  </fieldset>
  <% end %>