<header id="content-header">
  <h1><%= link_to(@movie.title, @movie) %></h1>
  <ol>
    <% @review.each do |review| %>
      <li>
        <span class="review"><%= pluralize(review.stars, 'star') %></span> 
        <span class="user">by <%= link_to review.user.name, review.user %></span>
        <span class="name">Created <%= time_ago_in_words(review.created_at) %> 
        ago</span>
        <p>
          &quot;<%= review.comment %>&quot;
        </p>
        <p>
        <%= link_to "edit review", edit_movie_review_path(@movie, review), 
            class: 'button' %>
        <%= link_to "Delete review", [@movie, review], method: :delete, 
                                     data: { confirm: "You sure?" } %>
        </p>
      </li>
    <% end %>
  </ol>
</header>