<aside id="sidebar">
  <nav>
    <ul>
      <li class="all-movies">
        <%= nav_link_to 'Released', movies_path %>
      </li>
      <% if current_user_admin? %>
        <li class="create-movie">
          <%= nav_link_to 'Add New Movie', new_movie_path %>
        </li>
      <% end %>
      <li class="movies">
        <%= nav_link_to 'Hits', filtered_movies_path(:hits) %>
      </li>
      <li class="movies">
        <%= nav_link_to 'Flops', filtered_movies_path(:flops) %>
      </li>
      <li class="movies">
        <%= nav_link_to 'Recent', filtered_movies_path(:recent) %>
      </li>
      <li class="movies">
        <%= nav_link_to 'Upcoming', filtered_movies_path(:upcoming) %>
      </li>
    </ul>
  </nav>
  
    <%= content_for(:side) %>
 
</aside>